cmake==4.1.0
datasets==3.6.0
dill==0.3.8
distlib==0.3.4
hf_transfer==0.1.9
isoduration==20.11.0
json5==0.12.1
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
multidict==6.6.4
multiprocess==0.70.16
numpy==1.26.0
opencv-python
pandas==2.2.3
pillow==12.0.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
timm
torch
